* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Red Hat Display";
}

/* -------- HEADER -------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-radius: 0 0 25px 25px;
  transition-duration: 0.5s;
  z-index: 2;
}

.navcount {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
}

.navbar-left {
  display: flex;
}

.logo {
  color: white;
  text-shadow: 1px 1px 3.5px black;
  font-family: 'Red Hat Display';
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1.5px;
}

.navbar-right{
  display: flex;
  gap: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  color: white;
  text-shadow: 1px 1px 3.5px black;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  font-family: 'Red Hat Display';
  font-weight: 600;
  letter-spacing: 1.2px;
  border-bottom: 3px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-active {
  color: white;
  border-bottom: 3px solid white;
  text-shadow: 1px 1px 3.5px black;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
  font-family: 'Red Hat Display';
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover {
  color: white;
  border-bottom: 3px solid white;
}

.nav-active:hover {
  color: white;
  border-bottom: 3px solid white;
}

.nav-icon {
  display: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar {
      display: block;
      padding-left: 0;
      padding-right: 0;
  }
  .logo {
      font-size: 21px;
      padding-left: 30px;
  }
  .navbar-left {
      display: flex;
      justify-content: space-between;
  }
  .nav-link,
  .nav-active {
      font-size: 17px;
      padding-left: 30px;
      padding-right: 30px;
  }
  .nav-first {
      margin-top: 20px;
  }
  .nav-active {
      background: linear-gradient(90deg, #e7c5ae 0%, #fcf5eb00 100%);
      border-top: 1px solid #895e3f;
      border-width: 1px;
  }
  .nav-icon {
      align-self: center;
      padding-right: 30px;
  }
  .navbar-right {
      display: block;
  }
}
@media screen and (max-width: 800px) {
  .navbar-right a{display: none;}
  .navbar-left a.nav-icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
.navbar-right.responsive {position: relative;}
.navbar-left.responsive .nav-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-right.responsive a{
  float: none;
  display: block;
  text-align: left;
}
}
@media screen and (max-width: 500px) {
  .logo {
      font-size: 18px;
      padding-left: 25px;
  }
  .nav-link,
  .nav-active {
      font-size: 16px;
      padding-left: 25px;
      padding-right: 25px;
  }
  .nav-active {
      background: linear-gradient(90deg, #e7c5ae 0%, #fcf5eb00 100%);
      border-top: 1px solid #895e3f;
      border-width: 1px;
  }
  .nav-icon {
      align-self: center;
      padding-right: 25px;
  }
}

/* -------- SECTION 1 -------- */
.container-produk-s-1 {
  display: block;
  height: 70vh;
}
.gambar-produk-s-1-1 {
  position: absolute;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
.gambar-produk-s-1-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.container-produk-s-1-1 {
  position: relative;
  background: linear-gradient(90deg, #000000ce 0%, #00000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.isi-produk-s-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  justify-content: center;
}

.slogan-p-s-1 {
  font-family: "Red Hat Display";
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  padding-left: 12vh;
  color: white;
  text-shadow: 1px 1px 10px rgb(29, 29, 29);
}

.fa-chevron-down {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  text-shadow: 0 0 8px #9ad4d8;
  animation: appearDisappear 3s infinite;
}

@keyframes appearDisappear {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .slogan-p-s-1 {
    font-family: "Red Hat Display";
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    padding-left: 6vh;
    color: white;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
  }
}
@media screen and (max-width: 600px) {
  .slogan-p-s-1 {
    font-family: "Red Hat Display";
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    padding-left: 4vh;
    color: white;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
  }
}
@media screen and (max-width: 450px) {
  .slogan-p-s-1 {
    font-family: "Red Hat Display";
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    padding-left: 4vh;
    color: white;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
    padding-right: 30vh;
  }
}
@media screen and (max-width: 500px) {
  .slogan-p-s-1 {
    font-family: "Red Hat Display";
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    padding-left: 4vh;
    color: white;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
    padding-right: 18vh;
  }
}
/* -------- SECTION 2 -------- */
.container-produk-s-2 {
  background-color: #fcf5eb;
  padding: 100px 0;
}

.container-produk-s-2-1 {
  background-color: transparent;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.isi-produk-s-2 {
  background-color: transparent;
  width: 100%;
  padding: 80px;
  display: flex;
}

.judul-p-s-2 {
  font-family: "Red Hat Display";
  font-size: 38px;
  font-weight: 600;
  color: #23230a;
  margin-bottom: 50px;
}

.img-hp-p-s-2 img {
  width: 337px;
  height: 580px;
  flex: 1;
}

.caption-p-s-2 {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.desc-higlight-p-s-2 {
  color: #cbcbcb;
  font-size: 20px;
  font-weight: 400;
}

.desc-p-s-2 {
  font-family: "Red Hat Display";
  color: #957647;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 50px;
}

.another-caption-p-s-2 p {
  margin: 18px;
  font-size: 16px;
  font-weight: 400;
}

.button-p-s-2 {
  width: 250px;
  height: 50px;
  background-color: transparent;
  font-family: "Red Hat Display";
  font-size: 14px;
  font-weight: 600;
  color: #23230a;
  border: 2px outset #e8b897;
  border-radius: 30px 5px 30px 5px;
  cursor: pointer;
}

.button-p-s-2:hover {
  background-color: #e7c5ae;
  box-shadow: 1px 1px 4px #00000079;
}

@media screen and (max-width: 800px) {
  .judul-p-s-2 {
    font-family: "Red Hat Display";
    font-size: 30px;
    font-weight: 600;
    color: #23230a;
    margin-bottom: 50px;
  }
  .desc-p-s-2 {
    font-family: "Red Hat Display";
    font-size: 20px;
    color: #23230a;
    margin-bottom: 50px;
  }
  .button-p-s-2 {
    width: 200px;
    height: 40px;
    background-color: transparent;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-weight: 600;
    color: #23230a;
    border: 2px outset #e8b897;
    border-radius: 30px 5px 30px 5px;
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  .isi-produk-s-2 {
    background-color: transparent;
    width: 100%;
    padding: 30px;
  }
  .judul-p-s-2 {
    font-family: "Red Hat Display";
    font-size: 20px;
    font-weight: 600;
    color: #23230a;
    margin-bottom: 50px;
  }
  .desc-p-s-2 {
    font-family: "Red Hat Display";
    font-size: 15px;
    color: #23230a;
    margin-bottom: 50px;
  }
  .button-p-s-2 {
    width: 130px;
    height: 35px;
    background-color: transparent;
    font-family: "Red Hat Display";
    font-size: 12px;
    font-weight: 600;
    color: #23230a;
    border: 2px outset #e8b897;
    border-radius: 30px 5px 30px 5px;
    cursor: pointer;
  }
}

/* -------- SECTION 3 -------- */
.container-produk-s-3 {
  background-color: white;
}

.container-produk-s-3-1 {
  background-color: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.isi-produk-s-3 {
  background-color: transparent;
  width: 100%;
  padding: 80px 0;
}

.judul-p-s-3 {
  font-family: "Red Hat Display";
  font-size: 34px;
  font-weight: 600;
  color: #23230a;
  margin-bottom: 50px;
}

/* List Categories */
.list-categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-categories .category {
  /* background-color: #f2f2f2; */
  background-color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid #725b38;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #151515;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-categories .category.active {
  background-color: #50362a;
  color: #f6f4f0;
}

.list-categories .category:hover {
  background-color: #50362a;
  color: #f6f4f0;
}

/* button back to section category */
#buttonToCategory {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#buttonToCategory:hover {
  background-color: #555;
}

/* list produk */
.line {
  background-color: #000000;
  width: 1220px;
  margin: 0 auto;
  /* width: 50%; */
  height: 1px;
  align-items: center;
  justify-content: center;
}

.list-produk ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list-produk .produk-card {
  text-align: start;
  margin: 10px 0;
}
.list-produk img {
  width: 400px;
  height: 390px;
  transition: transform 0.3s;
}
.list-produk img:hover {
  transform: translateY(-5px);
}

.list-produk .nama-produk {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.list-produk .harga {
  font-weight: 700;
}
.list-produk p {
  font-family: "Red Hat Display";
}

.btn-kunjugi-creatopia{
  overflow: visible;
  font-weight: 600;
  line-height: 27px;
  text-decoration: none;
  outline: none;
  background-color: #50362A;
  color: #FFFEFB;
  padding: 12px 25px;
  border-radius: 40px;
}

@media screen and (max-width: 800px) {
}

/* -------- KATEGORI -------- */

.category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.category-button img {
  max-width: 20px;
  height: auto;
  margin-bottom: 10px;
}

.category-button:hover {
  background-color: #2980b9;
}
.css-6cmt0u {
  margin-left: 0px;
  margin-top: 17px;
  width: 100%;
  position: relative;
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 14px;
  -webkit-box-align: center;
  align-items: center;
}

.css-6cmt0u :active {
  background-color: #2980b9;
}

.css-yubsf4 {
  border-radius: 8px;
  border: 1px solid rgb(229, 230, 238);
  background-color: var(--N0, #ffffff);
  padding: 11px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  transition: all 0.2s ease 0s;
  overflow-wrap: break-word;
}

.list-produk {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out; /* Ubah durasi sesuai keinginan Anda */
}

.list-produk.active {
  max-height: 1000em;
  overflow: visible;
}

/* -------- FOOTER -------- */
.footer {
  background-color: white;
}

.f-sec-0 {
  background-color: #50362A;
}

.f-newsletter {
  display: block;
  background-color: transparent;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.f-newsletter-icon {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon-newsletter {
  font-size: 50px;
  color: #e6d5ca;
  /* text-shadow: 3px 3px 1px #f1ece7; */
}

.title-newsletter {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #e6d5ca;
  padding-top: 300px;
  letter-spacing: 0.5px;
  margin: 0;
}

.form-newsletter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6d5ca;
}

.newsletter-box {
  display: block;
  width: 30%;
  text-align: center;
  padding-right: 20px;
  padding-left: 80px;
  border-right: 1px solid #e6d5ca;
}

.nesletter-isi-box1 {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  color: #e6d5ca;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nesletter-isi-box2 {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 600;
  color: #e6d5ca;
  margin-top: 5px;
  margin-bottom: 15px;
}

.input-newsletter {
  width: 70%;
  align-self: center;
  padding-left: 30px;
  padding-right: 80px;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border: 1px solid #e6d5ca;
  border-radius: 20px;
  background-color: #e6d5ca;
}
.text-newsletter {
  width: 100%;
  height: 30px;
  border-radius: 20px 0 0 20px;
  border-width: 0;
  background-color: #e6d5ca;
  margin-left: 10px;
}
.button-newsletter {
  width: 120px;
  background-color: #50362A;
  border: none;
  font-family: 'Poppins';
  color: #f1ece7;
  letter-spacing: 1.2px;
  border-radius: 20px;
  cursor: pointer;
}
.button-newsletter:hover {
  background-color: #614436;
  border: 1px solid #895e3f;
}

.text-newsletter:focus{
  outline: none;
}

.f-sec-1 {
  background-color: #50362A;
  border-top: 1px solid #e6d5ca;
}

.f-info {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  padding: 15px;
  padding-bottom: 40px;
}

.f-info-con, .f-info-con2, .f-info-con3, .f-info-con4 {
  background-color: transparent;
}

.f-info-con {
  padding-left: 80px;
}

.f-info-con3 {
  width: 250px;
}

.f-info-con4 {
  padding-right: 80px;
}

.info-logo {
  color: #e6d5ca;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.info-text {
  color: #e6d5ca;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.1px;
  margin-top: 10px;
}

.fa-facebook-f,.fa-instagram,.fa-x-twitter,.fa-youtube {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #50362A;
  height: 35px;
  width: 35px;
  justify-content: center;
}

.sos-ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.sos-li {
  display: inline-block;
}

.info-sos {
  text-decoration: none;
  margin: auto;
  justify-content: center;display: flex;
  background-color: #e6d5ca;
  flex-direction: column;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 25px;
  margin-right: 10px;
}

.info-sos:hover {
  background-color: #e6d5ca;
  box-shadow: 0px 0px 4px #895e3f;
}

.fa-facebook-f:hover {
  color: rgb(0, 123, 255);
}

.fa-instagram:hover {
  color: #e843a0;
}

.fa-x-twitter:hover {
  color: rgb(0, 0, 0);
}

.fa-youtube:hover {
  color: rgb(242, 0, 0);
}

.info-menu-list {
  list-style: none;
  columns: 1;
  padding: 0;
  margin-top: 0;
}

.info-li {
  margin-right: 30px;
}

.info-menu {
  color: #e6d5ca;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 3;
}

.info-3-text {
  color: #e6d5ca;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.info-3-text2 {
  color: #e6d5ca;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.info-4-text {
  color: #e6d5ca;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.info-str {
  text-decoration: none;
}

.ps-store {
  max-width: 140px;
  height: auto;
}

.as-store {
  max-width: 140px;
  height: auto;
}

.f-sec-2 {
  background-color: #50362A;
  border-top: 1px solid #e6d5ca;
}

.f-cpr {
  background-color: transparent;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.f-cpr-con {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
}

.cpr {
  font-family: 'Poppins';
  color: #e6d5ca;
  font-size: 14px;
}

.tnc-plcy {
  display: flex;
  gap: 50px;
}

.tnc, .plcy {
  text-decoration: none;
  font-family: 'Poppins';
  color: #e6d5ca;
  font-size: 14px;
}

.tnc:hover, .plcy:hover {
  color: #e7c5ae;
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 800px) {
  .title-newsletter {
      padding: 30px 30px;
      font-size: 14px;
  }
  .f-newsletter-icon {
      gap: 40px;
      margin-top: 0;
      margin-bottom: 30px;
      padding: 0;
  }
  .icon-newsletter {
      font-size: 35px;
  }
  .form-newsletter {
      flex-direction: column;
  }
  .newsletter-box {
      width: 100%;
      padding: 0;
  }
  .input-newsletter {
      padding: 20px 0;
      width: 60%;
  }
  .nesletter-isi-box1 {
      font-size: 14px;
  }
  .nesletter-isi-box2 {
      font-size: 20px;
  }
  .text-newsletter {
      height: auto;
      font-size: 14px;
  }
  .button-newsletter {
      width: auto;
      font-size: 11px;
  }
  .f-info {
      flex-direction: column;
      padding: 40px;
  }
  .f-info-con {
      padding: 0;
  }
  .info-logo {
      font-size: 20px;
  }
  .info-text {
      font-size: 15px;
  }
  .info-sos {
      margin-right: 25px;
  }
  .f-info-con2 {
      margin-top: 15px;
  }
  .info-menu-list {
      columns: 1;
  }
  .info-menu {
      font-size: 15px;
  }
  .info-3-text {
      font-size: 15px;
  }
  .info-3-text2 {
      font-size: 13px;
      font-weight: 500;
  }
  .info-4-text {
      margin-left: 0;
      font-size: 15px;
  }
  .as-store,
  .ps-store {
      max-width: 100px;
  }
  .f-cpr-con {
      flex-direction: column;
      padding: 20px 15px;
      align-items: center;
      gap: 10px;
  }
  .cpr,
  .tnc,
  .plcy {
      font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .title-newsletter {
      padding: 30px 30px;
      font-size: 14px;
  }
  .f-newsletter-icon {
      gap: 40px;
      margin-top: 0;
      margin-bottom: 30px;
      padding: 0;
  }
  .icon-newsletter {
      font-size: 35px;
  }
  .input-newsletter {
      padding: 20px 0;
      width: 90%;
  }
  .nesletter-isi-box1 {
      font-size: 12px;
  }
  .nesletter-isi-box2 {
      font-size: 18px;
  }
  .text-newsletter {
      height: auto;
  }
  .button-newsletter {
      width: 90px;
      font-size: 10px;
  }
  .f-info {
      flex-direction: column;
      padding: 15px;
  }
  .info-logo {
      font-size: 18px;
  }
  .info-text {
      font-size: 14px;
  }
  .info-menu {
      font-size: 14px;
  }
  .info-3-text {
      font-size: 14px;
  }
  .info-3-text2 {
      font-size: 12px;
      font-weight: 500;
  }
  .info-4-text {
      margin-left: 0;
      font-size: 14px;
  }
  .cpr,
  .tnc,
  .plcy {
      font-size: 12px;
  }
}
