@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html {
    scroll-behavior: smooth;
}

/* * {
    padding: 0;
    box-sizing: border-box;
} */

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins';
}

/** -------- MAIN CONTENT -------- */
/** -------- SECTION 1 -------- */
.container-review-s-1 {
    display: block;
    height: 100vh;
}

.gambar-review-s-1-1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.container-review-s-1-1 {
    position: relative;
    /* background: linear-gradient(90deg, #000000ce 0%, #00000000 100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.isi-review-s-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

.slogan-b-s-1 {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
}

.isi-review-s-1 p {
    margin-top: 7px;
    color: #50362A;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.fa-chevron-down {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 0 8px #9ad4d8;
    animation: appearDisappear 3s infinite;
}

@keyframes appearDisappear {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
/** -------- END SECTION 1 -------- */

/** -------- SECTION 2 -------- */
.container-review-s-2 {
    /* background: linear-gradient(#efe4d7 0%, #efe4d7 30%, #fcf5eb 30%, #fcf5eb 100%); */
    background: #FFFFFF;
}

.container-review-s-2-1 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.isi-review-s-2 {
    background-color: transparent;
    width: 100%;
}

/** -------- CONTACT US -------- */
main .contactUs {
    position: relative;
    width: 100%;
    padding: 40px 0;
}

main .contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

main .contactUs .title h2 {
    color: #fff;
    font-weight: 500;
}

main .contactUs .box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    padding: 0 50px;
}

main .contactUs .box .form {
    grid-area: form;
    border: 2px solid #957647;
    border-radius: 10px;
}

main .contactUs .box .info {
    grid-area: info;
    border: 1px solid #50362A;
    border-radius: 10px;
}

main .contactUs .box .map {
    grid-area: map;
}

main .contactUs .box .contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

main .contactUs .box .contact h3 {
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/** -------- FORM -------- */
main .contactUs .box .form .formBox {
    position: relative;
    width: 100%;
}

main .contactUs .box .form .formBox .row50 {
    display: flex;
    gap: 20px;
}

main .contactUs .box .form .formBox .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

main .contactUs .box .form .formBox .row100 .inputBox {
    width: 100%;
}

main .contactUs .box .form .formBox .inputBox label {
    color: #23230a;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

main .contactUs .box .form .formBox .inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 2px solid;
    border-color: #957647;
}

main .contactUs .box .form .formBox .inputBox input[type="submit"]:hover {
    background-color: #895e3f;
}

/* Chrome, Safari, Edge, Opera */
main .contactUs .box .form .formBox .inputBox input[type=number]::-webkit-outer-spin-button,
main .contactUs .box .form .formBox .inputBox input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
main .contactUs .box .form .formBox .inputBox input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

main .contactUs .box .form .formBox .inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 2px solid;
    border-color: #957647;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

main .contactUs .box .form .formBox .inputBox input[type="submit"] {
    background: #50362A;
    color: #fff;
    border: 2px solid;
    border-color: #957647;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    margin-top: 25px;
}

main .contactUs .box .form .formBox .inputBox input[type="submit"]:disabled {
    cursor: not-allowed;
}

main .contactUs .box .form .formBox .inputBox ::placeholder {
    color: #999;
}
/** -------- END FORM -------- */

/** -------- INFO -------- */
main .contactUs .box .info {
    background: #50362A;
}

main .contactUs .box .info h3 {
    color: #fff;
}

main .contactUs .box .info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

main .contactUs .box .info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #23230a;
    background: #fcf5eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

main .contactUs .box .info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}

main .contactUs .box .info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

main .contactUs .box .info .infoBox .sci {
    margin-top: 30px;
    display: flex;
}

main .contactUs .box .info .infoBox .sci li {
    list-style: none;
    margin-right: 15px;
}

main .contactUs .box .info .infoBox .sci li a {
    font-size: 2em;
    color: #23230a;
}

main .contactUs .box .info .infoBox .sci li a:hover {
    color: #8B4513;
}

.sci a {
    text-decoration: none;
}

.sci i {
    color: #fff;
}

/** -------- END INFO -------- */

/** -------- MAP -------- */
main .contactUs .box .map {
    padding: 0;
}

main .contactUs .box .map iframe {
    width: 100%;
    height: 100%;
}

main .contactUs .box .info:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

main .contactUs .box .map iframe:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/** -------- END MAP -------- */
/** -------- END CONTACT US -------- */
/**-------- END SECTION 2 -------- */
/** -------- END MAIN -------- */

/** -------- FOOTER -------- */
.newsletter-box {
    width: 34.405%;

}

.info-logo {
    margin: 10px 0 20px;
}

.info-text {
    margin: 10px 0 16px;
}

.info-3-text2 {
    margin: 12px 0;
}

.info-4-text {
    margin: 14px 0 14px 0;
}

.f-info-con {
    /* padding-left: 8opx; */
    /* agar iconnya pada footer rapih, pakai yang 80px */
    padding-left: 81px;
}
/** -------- END FOOTER -------- */

/** -------- RESPONSIVE BREAKPOINT -------- */
@media screen and (min-width: 1200px) {
    .f-info-con {
        padding-left: 65px;
    }

    .info-4-text {
        margin: 14px 0 14px 10px;
    }

    .f-info-con4 {
        padding-right: 65px;
    }
}

@media screen and (max-width: 991px) {
    main .contactUs {
        /* padding: 20px; */
        padding: 10px;
    }

    main #row1 .row1-1 .col {
        font-size: 1.5em;
    }

    main .contactUs .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
        /* padding: 0; */
    }

    main .contactUs .box .map {
        min-height: 300px;
        padding: 0;
    }

    main .contactUs .box .form .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    main .contactUs .box .form .formBox .inputBox {
        width: 100%;
    }

    /* main .contactUs .box .contact {
        // padding: 30px; 
    } */

    .popup p {
        font-size: 20px;
    }

    .open-popup {
        transform: translate(25%, -50%) scale(1);
    }
}

@media screen and (max-width: 800px) {
    .slogan-b-s-1 {
        text-align: center;
        font-size: 28px;
    }

    .isi-review-s-1 p {
        text-align: center;
        font-size: 16px;
    }

    .popup {
        width: 390px;
    }

    .popup h2 {
        font-size: 28px;
        margin: 10px 0 10px;
    }

    .open-popup {
        transform: translate(15%, -50%) scale(1);
    }

    .f-info-con2 {
        margin-bottom: 15px;
    }

    .newsletter-box {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .slogan-b-s-1 {
        text-align: center;
        font-size: 24px;
    }

    .isi-review-s-1 p {
        text-align: center;
        font-size: 16px;
    }

    .popup {
        width: 360px;
    }

    .popup h2 {
        font-size: 24px;
        margin: 10px 0 10px;
    }

    .popup button {
        margin-top: 40px;
    }

    .open-popup {
        /* transform: translate(1%, -50%) scale(1); */
        transform: translate(-3%, -50%) scale(1);
    }

}

@media screen and (max-width: 550px) {
    main .contactUs {
        padding: 20px 0;
    }

    main .contactUs .box {
        padding: 0 15px;
    }

    main .contactUs .box .contact h3 {
        font-size: 1.1em;
    }

    main .contactUs .box .form .formBox .inputBox label {
        font-size: 0.9em;
    }

    main .contactUs .box .form .formBox .inputBox input {
        font-size: 0.8em;
    }

    main .contactUs .box .form .formBox .inputBox input[type="submit"] {
        max-width: 100%;
        font-size: 1em;
    }

    .popup {
        width: 330px;
    }

    .popup h2 {
        font-size: 28px;
        margin: 10px 0 10px;
    }

    .popup p {
        font-size: 16px;
    }

    .popup button {
        margin-top: 40px;
    }

    .open-popup {
        transform: translate(-1%, -50%) scale(1);
    }
}

@media screen and (max-width: 500px) {
    .slogan-b-s-1 {
        text-align: center;
        font-size: 22px;
    }

    .isi-review-s-1 p {
        text-align: center;
        font-size: 14px;
    }

    .popup {
        width: 330px;
    }

    .popup h2 {
        font-size: 28px;
        margin: 10px 0 10px;
    }

    .popup p {
        font-size: 16px;
    }

    .popup button {
        margin-top: 40px;
    }

    .open-popup {
        transform: translate(-5%, -50%) scale(1);
    }
}

@media screen and (max-width:450px) {
    .slogan-b-s-1 {
        text-align: center;
        font-size: 24px;
    }

    .isi-review-s-1 p {
        text-align: center;
        font-size: 14px;
    }

    .popup {
        width: 300px;
    }

    .popup h2 {
        font-size: 24px;
        margin: 10px 0 10px;
    }

    .popup p {
        font-size: 14px;
    }

    .popup button {
        margin-top: 35px;
    }

    .open-popup {
        transform: translate(-5%, -50%) scale(1);
    }
}

@media screen and (max-width:400px) {
    main #row1 .row1-1 .col h2 {
        text-align: center;
        font-size: 22px;
    }

    main #row1 .row1-1 .col p {
        text-align: center;
        font-size: 14px;
    }

    .popup {
        width: 270px;
    }

    .popup h2 {
        font-size: 22px;
        margin: 0 0 10px;
    }

    .popup p {
        font-size: 14px;
    }

    .popup button {
        margin-top: 35px;
    }

    .open-popup {
        transform: translate(-7%, -50%) scale(1);
    }
}

@media screen and (max-width: 335px) {
    main .contactUs {
        padding: 5px;
    }

    main .contactUs .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
        padding: 0;
    }

    main .contactUs .box .map {
        min-height: 200px;
        padding: 0;
    }

    main .contactUs .box .form .formBox .inputBox {
        width: 100%;
    }

    main .contactUs .box .contact {
        /* padding: 30px; */
        padding: 25px;
        width: 100%;
    }

    main .contactUs .box .info .infoBox div a {
        font-size: 1em;
    }
}

@media screen and (max-width: 266px) {
    .gambar-review-s-1-1 {
        width: 101%;
    }
}
/** -------- END RESPONSIVE BREAKPOINT -------- */