@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    /* Colors */
    --primayaccent: #725b38;
    --bw: #f6f4f0;
    --mustart: #ca8f21;
    --brown-2: #957647;
    --brown-1: #50362a;
    --cream: #f8f3ed;
    --black: #151515;
    --dark-shade-of-gray: #23230a;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/** -------- SECTION 1 -------- */
.container-review-s-1 {
    display: block;
    height: 100vh;
}

.gambar-review-s-1-1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.container-review-s-1-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.isi-review-s-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}

.slogan-b-s-1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    /* padding-left: 29vh; */
    color: white;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
    margin: 0;
}

.isi-review-s-1 p {
    color: var(--brown-1);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    /* padding-left: 29vh; */
    margin: 0;
}

.fa-chevron-down {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 0 8px #9ad4d8;
    animation: appearDisappear 3s infinite;
}

@keyframes appearDisappear {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/** -------- END SECTION 1 -------- */

/** -------- SECTION 2 -------- */
/** -------- CONTAINER SECTION 2 -------- */
.container-review-s-2 {
    display: block;
    height: auto;
}

.container-review-s-2-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    margin: auto;
}

.isi-review-s-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    background-color: transparent;
    text-align: left;
    justify-content: center;
}

.container-review {
    position: relative;
    padding: 40px 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 100px;
    grid-gap: 20px;
}

.flex-container .review {
    padding: 40px;
    /* background: #fff; */
    background: transparent;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.item1 {
    /* flex: 10 0 auto; */
    flex-shrink: 0;
    flex-basis: auto;
    width: 800px;
}

.item2 {
    /* flex: 2 0 auto; */
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 350px;
    height: inherit;
    /* background: black; */
}

.item2-1 {
    /* flex: 1 0 auto; */
    flex-shrink: 0;
    flex-basis: auto;
    /* flex: 1 0; */
}

.item2-2 {
    flex-shrink: 0;
    flex-basis: auto;
    /* flex: 1 0 auto; */
    /* flex: 1 0; */
    /* padding: 40px; */
    /* height: 321px; */
    /* height: calc(100% - 219px); */
}

/** -------- END CONTAINER SECTION 2 -------- */

.item1 .form h3 {
    text-align: left;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.item1 .form {
    border: 2px solid var(--brown-2);
    border-radius: 10px;
}

.item2-1 .info {
    border: 1px solid var(--brown-1);
    border-radius: 10px;
}

/** -------- FORM -------- */
.item1 .form .formBox {
    position: relative;
    width: 100%;
}

.item1 .form .formBox .row50 {
    display: flex;
    gap: 20px;
}

.item1 .form .formBox .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.item1 .form .formBox .row100 .inputBox {
    width: 100%;
}

.item1 .form .formBox .inputBox label {
    text-align: left;
    color: var(--dark-shade-of-gray);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.item1 .form .formBox .inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 2px solid;
    border-color: var(--brown-2);
}

.item1 .form .formBox .inputBox input[type="submit"]:hover {
    background-color: #895e3f;
}

/* Chrome, Safari, Edge, Opera */
.item1 .form .formBox .inputBox input[type=number]::-webkit-outer-spin-button,
.item1 .form .formBox .inputBox input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.item1 .form .formBox .inputBox input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.item1 .form .formBox .inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 2px solid;
    border-color: var(--brown-2);
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.item1 .form .formBox .inputBox input[type="submit"] {
    background: var(--brown-1);
    color: #fff;
    border: 2px solid;
    border-color: var(--brown-2);
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    margin-top: 25px;
}

.item1 .form .formBox .inputBox input[type="submit"]:disabled {
    cursor: not-allowed;
}

.item1 .form .formBox .inputBox ::placeholder {
    color: #999;
}

/** -------- END FORM -------- */

/** -------- INFO -------- */
.item2-1 .info {
    position: relative;
    background: var(--brown-1);
}

.item2-1 .info h3 {
    text-align: left;
    color: #fff;
}

.item2-1 .info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item2-1 .info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: var(--dark-shade-of-gray);
    background: #fcf5eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.item2-1 .info .infoBox div p {
    text-align: left;
    color: #fff;
    font-size: 1.1em;
    margin: 0;
}

.item2-1 .info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.item2-1 .sci {
    display: flex;
    padding: 0;
    margin-top: 30px;
    /* justify-content: center; */
}

.item2-1 .sci li {
    list-style: none;
    margin-right: 15px;
}

.item2-1 .sci li a {
    font-size: 2em;
    color: var(--dark-shade-of-gray);
}

.item2-1 .sci .fa-facebook-f:hover {
    color: rgb(0, 123, 255);
}

.item2-1 .sci .fa-instagram:hover {
    color: #e843a0;
}

.item2-1 .sci .fa-x-twitter:hover {
    color: rgb(0, 0, 0);
}

.item2-1 .sci .fa-youtube:hover {
    color: rgb(242, 0, 0);
}

.item2-1 .sci a {
    text-decoration: none;
}

.item2-1 .sci i {
    color: #fff;
}

/** -------- END INFO -------- */

/** -------- MAP -------- */
.item2-2 .map {
    /* position: relative; */
    /* padding: 10px; */
    padding: 0;
    /* height: inherit; */
    height: 100%;
}

/* .item2-2 .map {
    min-height: 200px;
    padding: 0;
} */

.item2-2 .map iframe {
    width: 100%;
    height: 100%;
    /* height: inherit; */
}

.item2-1 .info:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.item2-2 .map:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: 2px solid rgb(114, 91, 56);
}

/** -------- END MAP -------- */
/** -------- END SECTION 2 -------- */

/** -------- FOOTER -------- */
.title-newsletter {
    padding-top: 80px;
}

/** -------- END FOOTER -------- */

/** -------- TRANSITION -------- */
.hidden-section {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.2s;
}

.show-section {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* .info {
    transition-delay: 550ms;
}

.map {
    transition-delay: 550ms;
} */
/** -------- END TRANSITION -------- */

/** -------- RESPONSIVE BREAKPOINT -------- */
@media screen and (min-width: 1200px) {
    .item1 .form {
        width: 840px;
    }
}

@media screen and (min-width: 991px) {

    .item1,
    .item2 {
        width: auto;
    }

    .item2-2 {
        /* height: calc(100% - 219px); */
        /* height: calc(100% - 201px); */
        /* height: calc(100% - 173px); */
        height: calc(100% - 178px);
    }

    .item2-2 .map {
        height: inherit;
    }
}

@media (min-width: 991px) and (max-width: 1300px) {
    /* .item1, .item2 {
        width: auto;
    } */

    .slogan-b-s-1 {
        font-size: 55px;
        /* padding-left: 13vh; */
        padding-left: 29vh;
        padding-right: 27vh;
    }
}

@media screen and (max-width: 991px) {
    .slogan-b-s-1 {
        font-size: 55px;
        /* padding-left: 13vh; */
        padding-left: 21vh;
        padding-right: 21vh;
    }

    .isi-review-s-1 p {
        font-size: 28px;
        /* padding-left: 13vh; */
    }

    .flex-container {
        flex-direction: column;
        /* padding: 0 100px; */
        padding: 0 80px;
    }

    .item1,
    .item2 {
        width: auto;
    }

    .item2-2 {
        height: 29.8vh;
    }

    .item2-2 .map {
        height: inherit;
    }

    .item2-2 .map {
        /* min-height: 300px; */
        /* height: inherit; */
        padding: 0;
    }

    .flex-container .form .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .flex-container .form .formBox .inputBox {
        width: 100%;
    }

    /* .flex-container .contact {
        // padding: 30px; 
    } */
}

@media screen and (max-width: 800px) {
    .slogan-b-s-1 {
        font-size: 50px;
        padding-left: 14vh;
        padding-right: 14vh;
    }

    .isi-review-s-1 p {
        font-size: 30px;
        /* padding-left: 10vh; */
    }

    .flex-container {
        /* padding: 0 70px; */
        padding: 0 60px;
    }

    .f-info-con2 {
        margin-bottom: 15px;
    }

    .newsletter-box {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .slogan-b-s-1 {
        font-size: 42px;
        padding-left: 14vh;
        padding-right: 14vh;
    }

    .isi-review-s-1 p {
        font-size: 28px;
        /* padding-left: 7vh; */
    }

    .flex-container {
        padding: 0 40px;
    }
}

@media screen and (max-width: 550px) {
    .slogan-b-s-1 {
        font-size: 42px;
        padding-left: 17vh;
        padding-right: 17vh;
    }

    .isi-review-s-1 p {
        font-size: 28px;
        /* padding-left: 5vh; */
    }

    .flex-container {
        /* padding: 20px; */
        padding: 0 40px;
    }

    .container-review {
        padding: 20px 0;
    }

    .item1 .form h3 {
        font-size: 1.1em;
    }

    .item1 .form .formBox .inputBox label {
        font-size: 0.9em;
    }

    .item1 .form .formBox .inputBox input {
        font-size: 0.8em;
    }

    .item1 .form .formBox .inputBox input[type="submit"] {
        max-width: 100%;
        font-size: 1em;
    }
}

@media screen and (max-width: 500px) {
    .slogan-b-s-1 {
        font-size: 40px;
        padding-left: 13vh;
        padding-right: 13vh;
    }

    .isi-review-s-1 p {
        font-size: 25px;
        /* padding-left: 5vh; */
    }

    .flex-container {
        /* padding: 20px; */
        padding: 0 40px;
    }
}

@media screen and (max-width:450px) {
    .slogan-b-s-1 {
        font-size: 40px;
        padding-left: 5vh;
        /* padding-right: 3vh; */
        padding-right: 5vh;
    }

    .isi-review-s-1 p {
        font-size: 25px;
        /* padding-left: 4vh; */
    }

    .flex-container {
        padding: 0 20px;
    }
}

@media screen and (max-width:400px) {
    .slogan-b-s-1 {
        font-size: 35px;
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .isi-review-s-1 p {
        font-size: 20px;
        /* padding-left: 2vh; */
    }

    .flex-container {
        padding: 0 20px;
    }

    .flex-container .review {
        padding: 25px;
    }

    .item2-2 .map {
        padding: 0;
    }

    .item1 .g-recaptcha {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media (min-width: 320px) and (max-width: 335px) {
    .item1 .g-recaptcha {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media screen and (max-width: 335px) {
    .slogan-b-s-1 {
        text-align: center;
        font-size: 30px;
        /* padding-left: 0vh; */
    }

    .isi-review-s-1 p {
        text-align: center;
        font-size: 15px;
        /* padding-left: 0vh; */
    }

    /* .container-review {
        padding: 5px;
    } */

    .flex-container {
        padding: 10px;
    }

    /* .item1 {
        padding: 10px;
    } */

    .item1 .form .formBox .inputBox {
        width: 100%;
    }

    .flex-container .review {
        padding: 20px;
        /* padding: 0; */
        /* width: 100%; */
    }

    .item2-1 .info .infoBox div a,
    .item2-1 .info .infoBox div p {
        font-size: .8em;
    }

    /* .item2-1 .sci {
        padding: 0;
    } */

    .item2 {
        height: auto;
    }

    .item2-2 {
        height: auto;
    }

    .item2-2 .map {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .item1 .g-recaptcha {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

/** -------- END RESPONSIVE BREAKPOINT -------- */