body {
    margin: 0;
}
.icon {
    size: 100px;
}

/* -------- HEADER -------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(252, 245, 235, 0.4);
    border-style: solid;
    border-width: 1px;
    border-color: #895e3f;
    border-radius: 0 0 25px 25px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    transition-duration: 0.5s;
    z-index: 2;
}

.navcount {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
}

.navbar-left {
    display: flex;
}
  
.logo {
    color: #23230a;
    font-family: 'Red Hat Display';
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.5px;
    height: 70px;
}

.navbar-right{
    display: flex;
    gap: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
    color: #23230a;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    font-family: 'Red Hat Display';
    font-weight: 600;
    letter-spacing: 1.2px;
    border-bottom: 2px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-active {
    color: #23230a;
    border-bottom: 2px solid #895e3f;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    font-family: 'Red Hat Display';
    font-weight: 600;
    letter-spacing: 1.2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link:hover {
    color: #23230a;
    border-bottom: 2px solid #895e3f;
}

.nav-active:hover {
    color: #23230a;
    border-bottom: 2px solid #895e3f;
}

.nav-icon {
    display: none;
    color: #121212;
}

@media screen and (max-width: 800px) {
    .navbar {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    .logo {
        font-size: 21px;
        padding-left: 30px;
    }
    .navbar-left {
        display: flex;
        justify-content: space-between;
    }
    .nav-link,
    .nav-active {
        font-size: 17px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav-first {
        margin-top: 20px;
    }
    .nav-active {
        background: linear-gradient(90deg, #e7c5ae 0%, #fcf5eb00 100%);
        border-top: 1px solid #895e3f;
        border-width: 1px;
    }
    .nav-icon {
        align-self: center;
        padding-right: 30px;
    }
    .navbar-right {
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .navbar-right a{display: none;}
    .navbar-left a.nav-icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 800px) {
  .navbar-right.responsive {position: relative;}
  .navbar-left.responsive .nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
    .logo {
        font-size: 18px;
        padding-left: 25px;
    }
    .nav-link,
    .nav-active {
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .nav-active {
        background: linear-gradient(90deg, #e7c5ae 0%, #fcf5eb00 100%);
        border-top: 1px solid #895e3f;
        border-width: 1px;
    }
    .nav-icon {
        align-self: center;
        padding-right: 25px;
    }
}
/* -------- halaman 1 -------- */
.img-1 {
    width: 100%;
    height: 50px;
    object-fit: cover;
}
.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}


.container-contoh-s-1 {
    background-repeat: no-repeat;
    background-size: cover;
}

.container-contoh-s-1-1 {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.isi-contoh-s-1 {
    background-color: transparent;
    margin: 150px 110px 125px 100px;
    color: rgb(0, 0, 0);
    font-family: 'Red Hat Display';
    max-width: 1300px;
    position: absolute;

}

/* -------- SECTION 1 -------- */
.container-tentang-s-1 {
    background-color: #fcf5eb;
}

.container-tentang-s-1-1 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.isi-tentang-s-1 {
    color: black;
    font-family: 'Red Hat Display' ;
    font-size: large;
    align-items: center;
    text-align: center;
}
.isi-t-s-3 {
    background-color: transparent;
    width: 100%;
}

.title-t-s-3 {
    margin-top: 50px;
    margin-left: 80px;
}

.title-t-s-3-1 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Red Hat Display';
    font-size: 32px;
}

.isi-t-s-3-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin: 50px;
}

.isi-t-s-3-1-1,
.isi-t-s-3-1-2,
.isi-t-s-3-1-3,
.isi-t-s-3-1-4,
.isi-t-s-3-1-5,
.isi-t-s-3-1-6 {
    display: block;
    text-align: center;
    background-color: #fcf5eb;
    justify-content: center;
    border-style: solid;
    border-radius: 30px 0 30px 0;
    border-width: 1px;
    border-color: #e8b897;
    box-shadow: 2px 2px 10px #2121217e;
}

.isi-t-s-3-1-1:hover,
.isi-t-s-3-1-2:hover,
.isi-t-s-3-1-3:hover,
.isi-t-s-3-1-4:hover,
.isi-t-s-3-1-5:hover,
.isi-t-s-3-1-6:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.isi-t-s-3-1-1:not(:hover),
.isi-t-s-3-1-2:not(:hover),
.isi-t-s-3-1-3:not(:hover),
.isi-t-s-3-1-4:not(:hover),
.isi-t-s-3-1-5:not(:hover),
.isi-t-s-3-1-6:not(:hover) {
    transition-duration: 0.3s;
}


.img-t-s-3 {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    border-radius: 100px;
}

.team-name {
    font-family: 'Red Hat Display';
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.team-pos {
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.team-contact {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    background-color: #f1ece7;
    border: 1px solid rgb(62, 114, 235);
    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-contact:hover {
    background-color: #cabfb4;
}

.text-team-contact {
    font-family: 'Red Hat Display';
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
}

.logo-team-contact {
    width: auto;
    max-height: 13px;
    margin-left: 5px;
}

/* -------- SECTION 2 -------- */
.container-tentang-s-2 {
    border-radius: 25px;
    background: wheat;
    width: 100%;
    height: 200px;
    
}

.container-tentang-s-2-1{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.isi-tentang-s-2 {
    font-family: 'Red Hat Display';
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.isi-tentang-s-2-1 {
    font-family: "Red Hat Display";
    font-size: large;
    text-align: center;
    justify-content: center;
}


/* -------- SECTION 3 -------- */
.container-tentang-s-3 {
    background-color: transparent;
}

.container-tentang-s-3-1 {
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
}

.isi-t-s-3{
    align-items: center;
    justify-content: space-between;
    margin: 100px 80px;
    gap: 50px;
}

.img-t-s-3-1 {
    max-width: 175px;
    float: left;
    margin-right: 20px;
    border-radius: 1px;
}

.desc-t-s-3 {
    color: black;
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: medium;
    line-height: 35px;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
} 
/* .container-tentang-s-4 {
    background-color: transparent;
}

.container-tentang-s-4-1 {
    background-color:  rgb(175, 107, 12);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.isi-t-s-4 {
    background-color: transparent;
}
.isi-t-s-4-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 80px;
    gap: 50px;
}

.img-t-s-4-1 {
    max-width: 100px;
    height: 100%;
    
}

.desc-t-s-4 {
    color: black;
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: medium;
    line-height: 35px;
    letter-spacing: 1.5px;
}  */

/* -------- SECTION 4 -------- */
.container-tentang-s-4 {
    background-color: transparent;
}

.container-tentang-s-4-1 {
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.isi-t-s-4 {
    background-color: transparent;
    width: 100%;
    padding: 80px;
}
.judul-t-s-4{
    display: block;
}

/* .isi-t-s-4-1 {
    align-items: center;
    justify-content: space-between;
    margin: 100px 80px;
    gap: 50px;
} */

.img-t-s-4-1 {
    max-width: 200px;
    height: 80%;
    margin-left: 40px;
    float: right;
}

.desc-t-s-4 {
    color: black;
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: medium;
    line-height: 35px;
    letter-spacing: 1.5px;
} 

/* -------- FOOTER -------- */
.footer {
    background-color: white;
}

.f-sec-0 {
    background-color: #e8b897;
}

.f-newsletter {
    display: block;
    background-color: transparent;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.f-newsletter-icon {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icon-newsletter {
    font-size: 50px;
    color: #895e3f;
    text-shadow: 3px 3px 1px #f1ece7;
}

.title-newsletter {
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #23230a;
    padding-top: 50px;
    letter-spacing: 0.5px;
    margin: 0;
}

.form-newsletter {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #895e3f;
}

.newsletter-box {
    display: block;
    background-color: #e7c5ae;
    width: 30%;
    text-align: center;
    padding-right: 20px;
    padding-left: 80px;

}

.nesletter-isi-box1 {
    font-family: 'Red Hat Display';
    font-size: 16px;
    font-weight: 500;
    color: #23230a;
    margin-top: 15px;
    margin-bottom: 5px;
}

.nesletter-isi-box2 {
    font-family: 'Red Hat Display';
    font-size: 24px;
    font-weight: 600;
    color: #23230a;
    margin-top: 5px;
    margin-bottom: 15px;
}

.input-newsletter {
    width: 70%;
    align-self: center;
    padding-left: 30px;
    padding-right: 80px;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border: 1px solid #895e3f;
    border-radius: 20px;
    background-color: #e7c5ae;
}
.text-newsletter {
    width: 100%;
    height: 30px;
    border-radius: 20px 0 0 20px;
    border-width: 0;
    background-color: #e7c5ae;
    margin-left: 10px;
}
.button-newsletter {
    width: 120px;
    background-color: #895e3f;
    border: none;
    font-family: 'Red Hat Display';
    color: #f1ece7;
    letter-spacing: 1.2px;
    border-radius: 20px;
    cursor: pointer;
}
.button-newsletter:hover {
    background-color: #966e52;
    border: 1px solid #895e3f;
}

.text-newsletter:focus{
    outline: none;
}

.f-sec-1 {
    background-color: #e8b897;
    border-top: 1px solid #895e3f;
}

.f-info {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 15px;
    padding-bottom: 40px;
}

.f-info-con, .f-info-con2, .f-info-con3, .f-info-con4 {
    background-color: transparent;
}

.f-info-con {
    padding-left: 80px;
}

.f-info-con3 {
    width: 250px;
}

.f-info-con4 {
    padding-right: 80px;
}

.info-logo {
    color: #23230a;
    font-family: 'Red Hat Display';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.info-text {
    color: #23230a;
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.1px;
    margin-top: 10px;
}

.fa-facebook-f,.fa-instagram,.fa-x-twitter,.fa-youtube {
    text-align: center;
    align-items: center;
    font-size: 24px;
    color: #23230a;
}

.sos-ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.sos-li {
    display: inline-block;
}

.info-sos {
    margin-right: 30px;
}

.fa-facebook-f:hover {
    color: rgb(0, 123, 255);
}

.fa-instagram:hover {
    color: #e843a0;
}

.fa-x-twitter:hover {
    color: rgb(0, 0, 0);
}

.fa-youtube:hover {
    color: rgb(242, 0, 0);
}

.info-menu-list {
    list-style: none;
    columns: 2;
    padding: 0;
    margin-top: 0;
}

.info-li {
    margin-right: 30px;
}

.info-menu {
    color: #23230a;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Red Hat Display';
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 3;
}

.info-3-text {
    color: #23230a;
    font-family: 'Red Hat Display';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.info-3-text2 {
    color: #23230a;
    font-family: 'Red Hat Display';
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.info-4-text {
    color: #23230a;
    font-family: 'Red Hat Display';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-left: 10px;
}

.ps-store {
    max-width: 120px;
    height: auto;
}

.as-store {
    max-width: 120px;
    height: auto;
}

.f-sec-2 {
    background-color: #895e3f;
}

.f-cpr {
    background-color: transparent;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.f-cpr-con {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
}

.cpr {
    font-family: 'Red Hat Display';
    color: #e6d5ca;
    font-size: 14px;
}

.tnc-plcy {
    display: flex;
    gap: 50px;
}

.tnc, .plcy {
    text-decoration: none;
    font-family: 'Red Hat Display';
    color: #e6d5ca;
    font-size: 14px;
}

.tnc:hover, .plcy:hover {
    color: #e7c5ae;
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 800px) {
    .title-newsletter {
        padding: 30px 30px;
        font-size: 14px;
    }
    .f-newsletter-icon {
        gap: 40px;
        margin-top: 0;
        margin-bottom: 30px;
        padding: 0;
    }
    .icon-newsletter {
        font-size: 35px;
    }
    .form-newsletter {
        flex-direction: column;
    }
    .newsletter-box {
        width: 100%;
        padding: 0;
    }
    .input-newsletter {
        padding: 20px 0;
        width: 60%;
    }
    .nesletter-isi-box1 {
        font-size: 14px;
    }
    .nesletter-isi-box2 {
        font-size: 20px;
    }
    .text-newsletter {
        height: auto;
        font-size: 14px;
    }
    .button-newsletter {
        width: auto;
        font-size: 11px;
    }
    .f-info {
        flex-direction: column;
        padding: 40px;
    }
    .f-info-con {
        padding: 0;
    }
    .info-logo {
        font-size: 20px;
    }
    .info-text {
        font-size: 15px;
    }
    .info-sos {
        margin-right: 25px;
    }
    .f-info-con2 {
        margin-top: 15px;
    }
    .info-menu-list {
        columns: 1;
    }
    .info-menu {
        font-size: 15px;
    }
    .info-3-text {
        font-size: 15px;
    }
    .info-3-text2 {
        font-size: 13px;
        font-weight: 500;
    }
    .info-4-text {
        margin-left: 0;
        font-size: 15px;
    }
    .as-store,
    .ps-store {
        max-width: 100px;
    }
    .f-cpr-con {
        flex-direction: column;
        padding: 20px 15px;
        align-items: center;
        gap: 10px;
    }
    .cpr,
    .tnc,
    .plcy {
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    .title-newsletter {
        padding: 30px 30px;
        font-size: 14px;
    }
    .f-newsletter-icon {
        gap: 40px;
        margin-top: 0;
        margin-bottom: 30px;
        padding: 0;
    }
    .icon-newsletter {
        font-size: 35px;
    }
    .input-newsletter {
        padding: 20px 0;
        width: 90%;
    }
    .nesletter-isi-box1 {
        font-size: 12px;
    }
    .nesletter-isi-box2 {
        font-size: 18px;
    }
    .text-newsletter {
        height: auto;
        font-size: 13px;
    }
    .button-newsletter {
        width: auto;
        font-size: 8px;
    }
    .f-info {
        flex-direction: column;
        padding: 15px;
    }
    .info-logo {
        font-size: 18px;
    }
    .info-text {
        font-size: 14px;
    }
    .info-menu {
        font-size: 14px;
    }
    .info-3-text {
        font-size: 14px;
    }
    .info-3-text2 {
        font-size: 12px;
        font-weight: 500;
    }
    .info-4-text {
        margin-left: 0;
        font-size: 14px;
    }
    .cpr,
    .tnc,
    .plcy {
        font-size: 12px;
    }
}